#logo{
    width:var(--sidebar-width);
    min-width: 180px;
    margin-bottom:24px;
}
#sidebar{
    position:fixed;
    height:100vh;
    padding:2rem;
    box-shadow:var(--box-shadow);
}
.sidebar_item{
    padding:1rem;
    color:var(--txt-color);
    font-size:1.1rem;
    margin-bottom:8px;
}

.sidebar_item:hover{
    border-radius:var(--border-radius);
    background-color:var(--main-color);
    cursor:pointer;
    color:var(--txt-white);

}
.sidebar_item.active{

    border-radius:var(--border-radius);
    background-color:var(--main-color);
    cursor:pointer;
    color:var(--txt-white);
}