.menuMobile{
    display:none;
}

@media only screen and (max-width: 768px) {

.menuMobile{
  display: flex;
  flex-direction:column;
  align-items:end;
  position: absolute;
  top:56px;
  right:26px;
}

.toggleContent{
    background-color:var(--main-color);
    color:white;
    margin-top:8px;
    padding: 28px;
    box-sizing:border-box;
    display:block;
    width:158px;
    box-shadow:var(--box-shadow);
    border-radius:var(--border-radius);

}

.toggleContent_none{

    display:none;
}

.menu{
    margin-bottom:24px;
    display:flex;


}
.menu::before{
 margin-bottom:0px;
} 
.menu > i {

 margin-right:8px;

}
}