.layout{
    color:var(--txt-color);
}
.layout__content {
  margin-left:calc(var(--sidebar-width) + 4rem);
  padding:2rem;
}

.layout__content_main {
    
}


@media only screen and (max-width: 768px){

.layout__content{

  margin-left: 0px;
  padding: 0px;


}

}